<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="log4net" type="Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>
        <appender name="FileAppender" type="log4net.Appender.FileAppender">
            <file value="C:\tmp\swe\imgs\tourplanner.log" />
            <appendToFile value="true" />
            <lockingModul type="log4net.Appender.FileAppender+MinimalLock" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern
                    value="%date{ISO8601} %level [%logger] - (%M) %message%n%exception" />
            </layout>
        </appender>
        <root>
            <level value="ALL"></level>
            <appender-ref ref="FileAppender" />
        </root>
    </log4net>
    <appSettings>
        <add key="DalSqlAssembly" value="WpfTourPlanner.DataAccessLayer.PostgressSqlServer" />
        <add key="ExportFileName" value="WpfTourPlanner.json" />
        <add key="SummaryReportFileName" value="SummaryReport.pdf" />
        <add key="WorkingDirectory" value="C:\tmp\swe\imgs\" />
        <add key="MapQuestEnvironmentVarName" value="MapQuestApiKey" />
    </appSettings>
    <connectionStrings>
        <add name="PostgressSqlConnectionString"
             connectionString="Server=localhost;Port=5432;Database=postgres;User Id=postgres;Password=mysecretpassword;" />
    </connectionStrings>
</configuration>