<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="DalSqlAssembly" value="WpfTourPlanner.DataAccessLayer.PostgressSqlServer" />
        <add key="ExportFileName" value="WpfTourPlanner.json" />
    </appSettings>
    <connectionStrings>
        <add name="PostgressSqlConnectionString"
             connectionString="Server=localhost;Port=5432;Database=postgres;User Id=postgres;Password=mysecretpassword;" />
    </connectionStrings>
</configuration>